/* Variables */
/* Mixins */
/* Extend */
.paragraph-2, .paragraph-3, header nav ul.navbar-nav li a, body, .mallorca, .nueva-york, .sydney {
  font-family: "Open Sans", sans-serif;
  color: #3B4754;
}

.mallorca, .nueva-york, .sydney {
  font-weight: 700;
}

#consejos p, #consejos .p, #consejos h8, #consejos .h8, #consejos h7, #consejos .h7, #consejos h6, #consejos .h6, #consejos h5, #consejos .h5, #consejos h2, #consejos .h2 {
  text-align: center;
  display: block;
  margin: auto;
}

#experiencias .d-flex {
  display: flex;
  align-items: center;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #f0f0f0;
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%;
  max-width: 1350x;
}

header {
  background-color: #ffffff;
  z-index: 10;
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .navbar-brand.logo {
  width: 50px;
  margin-right: 570px;
  height: auto;
}
header .navbar-brand.logo img {
  width: 100%;
  height: auto;
}
header nav ul.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav ul.navbar-nav li {
  margin-left: 7.5px;
}
header nav ul.navbar-nav li:first-child {
  margin-left: 0;
}
header nav ul.navbar-nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}
header nav ul.navbar-nav li a:hover {
  background-color: #ddd;
  color: #000000;
}
header .header-button {
  padding: 0px 10px;
  background: #000000;
  color: #ffffff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
}
header .header-button:hover {
  background-color: #ffffff;
  color: #000000;
}

main {
  padding: 20px;
}

#portada {
  background-color: #DFEDD6;
  background-size: cover;
  background-position: center;
  height: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0 20px;
}
#portada .portada-header-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: flex-start;
}
#portada #portada-img {
  margin-left: 287px;
  max-width: 100%;
  height: auto;
  margin-top: -1px;
}

h1 {
  font-size: 30px;
  line-height: 1.3;
  text-align: left;
  color: #3B4754;
  width: 347px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: block;
  margin: auto;
}

h2 {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #798DA3;
  width: 347px;
  height: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  margin: auto;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #3B4754;
  width: 510px;
  height: 31px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: block;
  margin: auto;
}

h4 {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: #798DA3;
  width: 470px;
  height: 51px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  margin: auto;
}

.portada-column {
  padding-left: 10px;
}

.portada-button {
  padding: 0px 10px;
  background: #000000;
  color: #ffffff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  width: 188px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.portada-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.portada-button::before {
  content: none;
}

#destinos {
  margin-top: 50px;
}
#destinos .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.image-container img {
  margin-bottom: 10px;
}
.image-container .image-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sydney, #mallorca, #new-york {
  background: transparent;
}

#sydney {
  width: 252px;
  height: 168px;
}

#mallorca {
  width: 252px;
  height: 168px;
}

#new-york {
  width: 252px;
  height: 168px;
}

.rectangle-12, .rectangle-11 {
  width: 96px;
  height: 3px;
  padding: 8px;
  background: #EDF0F4;
  border-radius: 3px;
}

.paragraph-2, .paragraph-3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  color: #798DA3;
}

.paragraph-2 {
  width: 167px;
  height: 52px;
}

.paragraph-3 {
  width: 178px;
  height: 17px;
}

.mallorca, .nueva-york, .sydney {
  width: 119px;
  height: 18px;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}

.buscador {
  max-width: 700px;
  margin: 30px auto;
}
.buscador .search-input-box {
  width: 100%;
  background-color: #2f3649;
  border-radius: 5px;
  position: relative;
  color: azure;
  box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.buscador .search-input-box #input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 55px;
  padding: 0 30px 0 20px;
  font-size: 18px;
}
.buscador .search-input-box .icon {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  color: #0d141f;
}

#experiencias {
  background-color: #DFEDD6;
  width: 100%;
  padding: 50px 25px;
}
#experiencias h2 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 15px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h5 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 24px;
  color: #3B4754;
  font-weight: 700;
  line-height: 1.2;
  width: 510px;
  height: 31px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h6 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 15px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 470px;
  height: 51px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h7 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 24px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 510px;
  height: 31px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h8 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 15px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 470px;
  height: 51px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias p {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 13px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  height: 20px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias .card {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  height: 200px;
  width: 400px;
  overflow: hidden;
  margin: 20px;
  transition: transform 0.3s ease;
}
#experiencias .card:hover {
  transform: translateY(-5px);
}
#experiencias .card-body {
  padding: 20px;
  overflow: auto;
}
#experiencias .quote {
  font-style: italic;
  margin-bottom: 70px;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
#experiencias .rounded-circle {
  width: 50px;
  height: 50px;
}
#experiencias .ml-3 {
  margin-left: 15px;
}
#experiencias .name {
  margin: 0;
  color: #3B4754;
  font-weight: bold;
}
#experiencias .profession {
  margin: 0;
  color: #666;
  font-weight: normal;
  font-size: 14px;
}

#consejos {
  margin: 0 auto;
  padding: 20px;
}

#consejos h2, #consejos .h2 {
  font-family: "Open Sans";
  font-size: 15px;
  text-align: center;
  display: block;
  margin: auto;
}

#consejos h5, #consejos .h5 {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
  width: 510px;
  height: 31px;
}

#consejos h6, #consejos .h6 {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  width: 470px;
  height: 51px;
}

#consejos h7, #consejos .h7 {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
  width: 510px;
  height: 31px;
}

#consejos h8, #consejos .h8 {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  width: 470px;
  height: 51px;
}

#consejos p, #consejos .p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  height: 20px;
}

#consejos img {
  width: 550px;
  height: 150px;
  object-fit: contain;
  margin-left: -70px;
}

#consejos div {
  box-sizing: border-box;
  width: calc(33.33% - 20px);
  float: left;
  margin: 10px;
}
#consejos div p {
  max-width: 50%;
}

#consejos::after {
  content: "";
  display: table;
  clear: both;
}

/* #sobre-nosotros {
    font-family: 'Open Sans', sans-serif;
    background-color: #DFEDD6;
    width: 100%;

}


#sobre-nosotros h9 {
    font-weight: 700;
    font-size: 48px;
    color: #3B4754;
    display: block;
    text-align: center;
}

#sobre-nosotros h10 {
    font-weight: 400;
    font-size: 20px;
    color: #798DA3;
    display: block;
    text-align: center;
}

#sobre-nosotros h11 {
    font-weight: 700;
    font-size: 24px;
    color: #3B4754;
    display: block;
}

#sobre-nosotros p {
    font-weight: 400;
    font-size: 16px;
    color: #3B4754;
}

#sobre-nosotros h12 {
    font-weight: 700;
    font-size: 24px;
    color: #3B4754;
}

#sobre-nosotros h13 {
    font-weight: 700;
    font-size: 24px;
    color: #3B4754;
}
#contacto {
    position: relative;
    width: 705px;
    height: 633px;
    background: #DFEDD6;
    border: 2px solid #829A73;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
}

#contacto h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    color: #3B4754;
}

#contacto p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #798DA3;
    text-align: center;
}

#contacto .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 295px;
    height: 83px;
}

#contacto button {
    width: 188px;
	height: 42px;
	padding: 0px 10px 0px 10px;
	background: #29323D;
	color: #FFFFFF;
	border-color: #29323D;
	border-width: 1px;
	border-style: solid;
	border-radius: 21px 21px 21px 21px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 12px;
	text-align: center;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

aside {
    float: right;
    width: 25%;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
*/
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-button {
  padding: 0px 10px;
  background: #29323D;
  color: #ffffff;
  border-color: #29323D;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  height: 40px;
  padding: 0 15px;
}
.footer-button:hover {
  background-color: #ffffff;
  color: #29323D;
}

/*# sourceMappingURL=styles.css.map */
