@charset "UTF-8";
/* Variables */
/* Mixins */
/* Extend */
#sobre-nosotros .content p, #sobre-nosotros .section-subtitle, .paragraph-2, .paragraph-3, header nav ul.navbar-nav li a, body, #sobre-nosotros .content h12, #sobre-nosotros .section-title, .mallorca, .nueva-york, .sydney {
  font-family: "Open Sans", sans-serif;
  color: #3B4754;
}

#sobre-nosotros .content h12, #sobre-nosotros .section-title, .mallorca, .nueva-york, .sydney {
  font-weight: 500;
}

#sobre-nosotros, #consejos .card .card-img-top {
  text-align: center;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#experiencias .d-flex {
  display: flex;
  align-items: center;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%;
  max-width: 1350px;
}

header {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  max-width: 1350px;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .navbar-brand.logo {
  width: 50px;
  margin-right: 450px;
  height: auto;
}
header .navbar-brand.logo img {
  width: 100%;
  height: auto;
}
header nav ul.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav ul.navbar-nav li {
  margin-left: 15px;
}
header nav ul.navbar-nav li:first-child {
  margin-left: 0;
}
header nav ul.navbar-nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
}
header nav ul.navbar-nav li a:hover {
  background-color: #ddd;
  color: #000000;
}
header .header-button {
  padding: 0px 10px;
  background: #000000;
  color: #ffffff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  height: 40px;
  width: 165px;
  padding: 0 15px;
  font-size: 14px;
}
header .header-button:hover {
  background-color: #ffffff;
  color: #000000;
}

main {
  padding: 20px;
}

#portada {
  background-color: #DFEDD6;
  background-size: cover;
  background-position: center;
  height: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0 20px;
}
#portada .portada-header-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: flex-start;
}
#portada .portada-title {
  margin-bottom: 20px;
}
#portada #portada-img {
  margin-left: 120px;
  max-width: 100%;
  height: auto;
  margin-top: -1px;
}

h1 {
  font-size: 35px;
  line-height: 1.2;
  text-align: left;
  color: #3B4754;
  width: 510px;
  height: 31px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: block;
  margin: auto;
}

h2 {
  font-size: 17px;
  line-height: 1.5;
  text-align: left;
  color: #798DA3;
  width: 470px;
  height: 51px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  margin: auto;
}

h3 {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #3B4754;
  width: 510px;
  height: 31px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: block;
  margin: auto;
}

h4 {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  color: #798DA3;
  width: 470px;
  height: 51px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  margin: auto;
}

.portada-column {
  padding-left: 10px;
}

.portada-button {
  padding: 0px 10px;
  background: #000000;
  color: #ffffff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  width: 188px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.portada-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.portada-button::before {
  content: none;
}

#destinos {
  margin-top: 50px;
}
#destinos .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.image-container img {
  margin-bottom: 10px;
}
.image-container .image-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sydney, #mallorca, #new-york {
  background: transparent;
}

#sydney {
  width: 252px;
  height: 168px;
}

#mallorca {
  width: 252px;
  height: 168px;
}

#new-york {
  width: 252px;
  height: 168px;
}

.rectangle-12, .rectangle-11 {
  width: 96px;
  height: 3px;
  padding: 8px;
  background: #EDF0F4;
  border-radius: 3px;
}

.mt-2 {
  font-weight: bold;
}

.paragraph-2, .paragraph-3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  color: #798DA3;
}

.paragraph-2 {
  width: 167px;
  height: 52px;
}

.paragraph-3 {
  width: 178px;
  height: 17px;
  font-weight: bold;
}

.mallorca, .nueva-york, .sydney {
  width: 119px;
  height: 18px;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}

.buscador {
  max-width: 700px;
  margin: 30px auto;
}
.buscador .search-input-box {
  width: 100%;
  background-color: #2f3649;
  border-radius: 5px;
  position: relative;
  color: azure;
  box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.buscador .search-input-box #input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 55px;
  padding: 0 30px 0 20px;
  font-size: 18px;
}
.buscador .search-input-box .icon {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  color: #0d141f;
}

#experiencias {
  background-color: #DFEDD6;
  width: 100%;
  padding: 50px 25px;
}
#experiencias h2 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 17px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h5 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 28px;
  color: #3B4754;
  font-weight: 700;
  line-height: 1.2;
  width: 510px;
  height: 31px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h6 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 17px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 470px;
  height: 51px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h7 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 28px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 510px;
  height: 31px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h8 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 17px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 470px;
  height: 51px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias p {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 13px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  height: 20px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias eco {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 16px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias cultura {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 16px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias solo {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 16px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias seguro {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 16px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias presupuesto {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 16px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias note {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 16px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias section-title {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 28px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 510px;
  height: 31px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias section-subtitle {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 17px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 470px;
  height: 51px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h13 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 28px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 510px;
  height: 31px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h14 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 17px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 470px;
  height: 51px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h15 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 28px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 510px;
  height: 31px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h16 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 17px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 470px;
  height: 51px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias h17 {
  font-family: "Open Sans";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 28px;
  color: #798DA3;
  font-weight: 400;
  line-height: 1.5;
  width: 300px;
  height: 31px;
}
#experiencias .row {
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#experiencias .card {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  height: 200px;
  width: 400px;
  overflow: hidden;
  margin: 20px;
  transition: transform 0.3s ease;
}
#experiencias .card:hover {
  transform: translateY(-5px);
}
#experiencias .card-body {
  padding: 20px;
  overflow: auto;
}
#experiencias .quote {
  margin-bottom: 70px;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
#experiencias .rounded-circle {
  width: 50px;
  height: 50px;
}
#experiencias .ml-3 {
  margin-left: 15px;
}
#experiencias .name {
  margin: 0;
  color: #3B4754;
  font-weight: bold;
}
#experiencias .profession {
  margin: 0;
  color: #666;
  font-weight: normal;
  font-size: 14px;
}

/* Consejos Section */
#consejos {
  position: relative;
}
#consejos h5 {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
}
#consejos h6 {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
}
#consejos .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-around;
}
#consejos .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  border: none;
  margin: 10px 0;
  max-width: 350px;
  background-color: transparent;
}
#consejos .card .card-img-top {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
#consejos .card .card-body {
  padding: 10px;
  text-align: center;
}
#consejos .card .card-body p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  height: 20px;
}
#consejos .card .card-body button {
  padding: 0px 10px;
  background: #000000;
  color: #ffffff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  width: 100px;
  height: 28px;
  margin-top: 50px;
}
#consejos .card .card-body button:hover {
  background-color: #ffffff;
  color: #000000;
}
#consejos .card .primary {
  color: #3B4754;
}
#consejos .card .secondary {
  color: #798DA3;
}
#consejos .card .accent {
  color: #29323D;
}
#consejos .card .background {
  color: #DFEDD6;
}
#consejos .card .white {
  color: #ffffff;
}
#consejos .card .black {
  color: #000000;
}
#consejos .card .text {
  color: #3B4754;
}
#consejos .card .subtext {
  color: #798DA3;
}
#consejos .card .card {
  color: #ffffff;
}
#consejos .card .quote {
  color: #333;
}
#consejos .card .profession {
  color: #666;
}
#consejos .card .h5 {
  color: #3B4754;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  width: 510px;
  height: 31px;
}
#consejos .card .h6 {
  color: #798DA3;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  width: 470px;
  height: 51px;
}
#consejos .card .h7 {
  color: #3B4754;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  width: 510px;
  height: 31px;
}
#consejos .card .h8 {
  color: #798DA3;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  width: 470px;
  height: 51px;
}
#consejos .card .p {
  color: #798DA3;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  height: 20px;
}
#consejos .card .button {
  color: #ffffff;
  font-weight: 700;
  width: 100px;
  height: 28px;
}
#consejos .card .button-bg {
  color: #000000;
}
#consejos .card .section-title {
  color: #3B4754;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  width: 510px;
  height: 31px;
}
#consejos .card .section-subtitle {
  color: #798DA3;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  width: 470px;
  height: 51px;
}
#consejos .card .h13 {
  color: #3B4754;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  width: 510px;
  height: 31px;
}
#consejos .card .h14 {
  color: #798DA3;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  width: 470px;
  height: 51px;
}
#consejos .card .h15 {
  color: #3B4754;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  width: 510px;
  height: 31px;
}
#consejos .card .h16 {
  color: #798DA3;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  width: 470px;
  height: 51px;
}
#consejos .card .h17 {
  color: #3B4754;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  width: 300px;
  height: 31px;
}

/* Sobre Nosotros */
#sobre-nosotros {
  width: 100vw;
  padding: 0 40px 0 0;
  margin-left: -20px;
  box-sizing: border-box;
  background: #DFEDD6;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
#sobre-nosotros .content-container {
  width: calc(100% - 0px);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
#sobre-nosotros .section-title {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
  order: 1;
}
#sobre-nosotros .section-subtitle {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  order: 2;
}
#sobre-nosotros .content {
  order: 3;
}
#sobre-nosotros .content h12 {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 20px;
}
#sobre-nosotros .content p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  text-align: justify;
  margin-bottom: 20px;
}

/* Contacto */
#contacto {
  position: relative;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contacto h13 {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
#contacto h14 {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
#contacto .h14 {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}
#contacto .form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 5px;
}
#contacto .form-container .contact-form {
  order: 1;
  flex: 2.5;
  background: #DFEDD6;
  border: 2px solid #829A73;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  min-height: 600px;
}
#contacto .form-container .contact-info {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1.5;
  background: #DFEDD6;
  border: 2px solid #829A73;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  min-height: 600px;
}
#contacto .form-container .contact-info .info-item:last-child {
  margin-top: 40px;
}
#contacto .form-container .contact-info .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#contacto .form-container .contact-info .info-item i {
  font-size: 20px;
  color: #3B4754;
  margin-right: 15px;
}
#contacto .form-container .contact-info .info-item span {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  color: #3B4754;
  font-size: 16px;
}
#contacto .form-container .contact-info .info-item i {
  margin-right: 8px;
}
#contacto .form-container h15 {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
  width: 510px;
  height: 31px;
  justify-content: left;
  margin-left: -105px;
  margin-top: 30px;
  margin-bottom: 0px;
}
#contacto .form-container h16 {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  width: 470px;
  height: 51px;
  margin-left: -1px;
  white-space: nowrap;
}
#contacto .form-container h17 {
  position: relative;
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
  width: 300px;
  height: 31px;
  margin-bottom: 70px;
  margin-top: 30px;
}
#contacto .form-container h17::after {
  content: "";
  display: block;
  width: 130%;
  height: 1px;
  background-color: #798DA3;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
#contacto .form-container p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0px;
}
#contacto .form-container form label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3B4754;
  margin-bottom: 5px;
}
#contacto .form-container form input, #contacto .form-container form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #829A73;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #3B4754;
}
#contacto .form-container form textarea {
  height: 100px;
  resize: vertical;
}
#contacto .form-container .button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
}
#contacto .form-container .button-container button {
  padding: 0px 10px;
  background: #000;
  color: #fff;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  margin: "0 0 0 auto";
  width: 100px;
  height: 28px;
  cursor: pointer;
  margin: 0;
}
#contacto .form-container .button-container button:hover {
  background-color: #fff;
  color: #000;
}

.form-row, .contact-row {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.form-row .input-field, .contact-row .input-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-row {
  margin-top: 20px;
}

#nombre, #apellido, #telefono, #email {
  width: 45%;
}

.required {
  color: red;
}

/*Newsletter */
.newsletter-container {
  position: relative;
  width: 100%;
  max-width: 1450px;
  margin: auto;
  padding: 50px 10px;
  background: #DFEDD6;
}

.rectangle {
  width: 100%;
  max-width: 1450px;
  background: #DFEDD6;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
.button-container button {
  padding: 0px 10px;
  background: #000;
  color: #fff;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  margin: "0 0 0 auto";
  width: 247px;
  height: 52px;
  cursor: pointer;
}
.button-container button:hover {
  background-color: #fff;
  color: #000;
}

.newsletter-title {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #3B4754;
  text-align: center;
  display: block;
  margin: auto;
  width: 510px;
  height: 31px;
  margin: 0 auto;
  margin-top: 20px;
}

.newsletter-subtitle {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: #798DA3;
  text-align: center;
  display: block;
  margin: auto;
  width: 470px;
  height: 51px;
  margin: 20px auto 0;
}

#nombre2, #email2 {
  width: calc(50% - 5px);
}

#nombre2 {
  margin-left: auto;
}

.form-label1 {
  margin-left: 340px;
}

footer {
  position: relative;
  margin-top: 40px;
  background-color: #ffffff;
  color: #798DA3;
  text-align: center;
  padding: 20px;
}
footer::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 1200px;
  border-top: 1px solid #798DA3;
  transform: translateX(-50%);
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 200px;
  margin-left: 250px;
}

.social-icons {
  font-size: 24px;
  display: flex;
  gap: 20px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 40px);
  }
}
@media (max-width: 480px) {
  .card {
    flex: 1 1 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
