 /* Variables */
$colors: (
  primary: #3B4754,
  secondary: #798DA3,
  accent: #29323D,
  background: #DFEDD6,
  white: #ffffff,
  black: #000000,
  text: #3B4754,
  subtext: #798DA3,
  card: #ffffff,
  quote: #333,
  profession: #666,
  "h5": #3B4754,
  "h6": #798DA3,
  "h7": #3B4754,
  "h8": #798DA3,
  "p": #798DA3,
  "button": #ffffff,
  "button-bg": #000000,
);

$font-stack: 'Open Sans', sans-serif;
$font-sizes: (
  "h2": 15px,
  "h5": 24px,
  "h6": 15px,
  "h7": 24px,
  "h8": 15px,
  "p": 13px,
);

$line-heights: (
  "h5": 1.2,
  "h6": 1.5,
  "h7": 1.2,
  "h8": 1.5,
  "p": 1.5,
);

$font-weights: (
  "h5": 700,
  "h6": 400,
  "h7": 700,
  "h8": 400,
  "p": 400,
  "button": 700,
);

$widths: (
  "h5": 510px,
  "h6": 470px,
  "h7": 510px,
  "h8": 470px,
  "img": 550px,
  "button": 100px,
  "div": calc(33.33% - 20px),
);

$heights: (
  "h5": 31px,
  "h6": 51px,
  "h7": 31px,
  "h8": 51px,
  "p": 20px,
  "img": 150px,
  "button": 28px,
);

/* Mixins */
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-style($bg-color, $text-color, $border-color) {
  padding: 0px 10px;
  background: $bg-color;
  color: $text-color;
  border-color: $border-color;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  @include font-style("button");
  &:hover {
    background-color: $text-color;
    color: $bg-color;
  }
}

  

@mixin font-style($tag) {
    font-family: "Open Sans";
    font-size: map-get($font-sizes, $tag);
    line-height: map-get($line-heights, $tag);
    font-weight: map-get($font-weights, $tag);
    color: map-get($colors, $tag);
    text-align: center;
    display: block;
    margin: auto;
  }
 @mixin text-style($size) {
    font-family: "Open Sans";
    text-align: center;
    display: block;
    margin: auto;
    font-size: map-get($font-sizes, $size);
  }
  
  @mixin card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
/* Extend */
%default-text {
  font-family: $font-stack;
  color: map-get($colors, primary);
}

%default-heading {
  @extend %default-text;
  font-weight: 700;
}
%centered-text {
    text-align: center;
    display: block;
    margin: auto;
  }

 %centered-block {
    text-align: center;
    display: block;
    margin: auto;
  }

  %flex-center {
    display: flex;
    align-items: center;
  }
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %default-text;
  margin: 0 auto;
  padding: 0;
  background-color: #f0f0f0;
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%; 
  max-width: 1350x;
}

header {
  background-color: map-get($colors, white);
  z-index: 10;
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  padding: 0;
  text-align: center;
  @include flex-center(row, space-between, center);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-brand.logo {
    width: 50px;
    margin-right: 570px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  nav {
    ul.navbar-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      @include flex-center(row, center, center);

      li {
        margin-left: 7.5px;

        &:first-child {
          margin-left: 0;
        }

        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          @extend %default-text;
          font-weight: bold;
          border-radius: 4px;

          &:hover {
            background-color: #ddd;
            color: map-get($colors, black);
          }
        }
      }
    }
  }

  .header-button {
    @include button-style(map-get($colors, black), map-get($colors, white), map-get($colors, black));
    height: 40px;
    padding: 0 15px;
    font-size: 14px; 
  }
}

main {
  padding: 20px;
}

// Portada Styles
#portada {
    background-color: map-get($colors, background);
    background-size: cover;
    background-position: center;
    height: 430px;
    @include flex-center(row, space-between, center);
    color: map-get($colors, white);
    text-align: center;
    margin: 0; 
    padding: 0 20px; 
  
    .portada-header-text {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      align-items: flex-start;
    }
  
    #portada-img {
      margin-left: 287px;
      max-width: 100%;
      height: auto;
      margin-top: -1px;
    }
  }
  
  // Header Styles
  @each $heading, $styles in (
    h1: (30px, 1.3, left, map-get($colors, primary), 347px, 40px),
    h2: (14px, 1.5, left, map-get($colors, secondary), 347px, 55px),
    h3: (24px, 1.2, center, map-get($colors, primary), 510px, 31px),
    h4: (15px, 1.5, center, map-get($colors, secondary), 470px, 51px)
  ) {
    #{$heading} {
      font-size: nth($styles, 1);
      line-height: nth($styles, 2);
      text-align: nth($styles, 3);
      color: nth($styles, 4);
      width: nth($styles, 5);
      height: nth($styles, 6);
      font-family: $font-stack;
      font-weight: if($heading == h1 or $heading == h3, 700, 400);
      display: block;
      margin: auto;
    }
  }
  
  // Additional Portada Styles
  .portada-column {
    padding-left: 10px;
  }
  
  .portada-button {
    @include button-style(map-get($colors, black), map-get($colors, white), map-get($colors, black));
    width: 188px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0; 
    padding: 0;
    position: relative;
  }
  

  .portada-button::before {
    content: none; 
  }
  
  #destinos {
    margin-top: 50px;
  
    .row {
      display: flex;
      justify-content: center;
      align-items: flex-start; 
    }
  }

.image-container {
  @include flex-center(column, center, center);
  margin: 0 auto;
  

  img {
    margin-bottom: 10px;
  }

  .image-subcontainer {
    @include flex-center(column, center, center);
  }
}

#sydney, #mallorca, #new-york {
  background: transparent;
}

#sydney {
  width: 252px;
  height: 168px;
}

#mallorca {
  width: 252px;
  height: 168px;
}

#new-york {
  width: 252px;
  height: 168px;
}

.rectangle-12, .rectangle-11 {
  width: 96px;
  height: 3px;
  padding: 8px;
  background: #EDF0F4;
  border-radius: 3px;
}

.paragraph-2, .paragraph-3 {
  @extend %default-text;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  color: map-get($colors, secondary);
}

.paragraph-2 {
  width: 167px;
  height: 52px;
}

.paragraph-3 {
  width: 178px;
  height: 17px;
}

.mallorca, .nueva-york, .sydney {
  @extend %default-heading;
  width: 119px;
  height: 18px;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}

.buscador {
  max-width: 700px;
  margin: 30px auto;

  .search-input-box {
    width: 100%;
    background-color: #2f3649;
    border-radius: 5px;
    position: relative;
    color: azure;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);

    #input {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 5px;
      height: 55px;
      padding: 0 30px 0 20px;
      font-size: 18px;
    }

    .icon {
      position: absolute;
      top: 15px;
      right: 25px;
      font-size: 22px;
      cursor: pointer;
      color: #0d141f;
    }
  }
}

#experiencias {
  background-color: map-get($colors, background);
  width: 100%;
  padding: 50px 25px;

  @each $tag, $size in $font-sizes {
    #{$tag} {
      @include text-style($tag);
      color: if($tag == h5, map-get($colors, text), map-get($colors, subtext));
      font-weight: if($tag == h5, 700, 400);
      line-height: if($tag == h5, 1.2, 1.5);
      width: map-get($widths, $tag);
      height: map-get($heights, $tag); 
    }
    .row {
      margin-left: -20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .card {
    background-color: map-get($colors, card);
    border: none;
    @include card-shadow;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 200px; 
    width: 400px;
    overflow: hidden; 
    margin: 20px; 
    transition: transform 0.3s ease; 
    
      &:hover {
        transform: translateY(-5px); 
      }
  }

  .card-body {
    padding: 20px;
    overflow: auto;
  }

  .quote {
    font-style: italic;
    margin-bottom: 70px;
    margin-top: 10px;
    color: map-get($colors, quote);
    font-weight: bold;
    font-size: 15px;
  }

  .rounded-circle {
    width: 50px;
    height: 50px;
  }

  .d-flex {
    @extend %flex-center;
  }

  .ml-3 {
    margin-left: 15px;
  }

  .name {
    margin: 0;
    color: map-get($colors, text);
    font-weight: bold;
  }
  
  .profession {
    margin: 0;
    color: map-get($colors, profession);
    font-weight: normal;
    font-size: 14px;
  }
  
}


  #consejos {
    margin: 0 auto;
    padding: 20px
  }  
    
    @each $tag, $size in $font-sizes {
    #consejos #{$tag}, #consejos .#{$tag} {
      @include font-style($tag);
      width: map-get($widths, $tag);
      height: map-get($heights, $tag);
      @if $tag == "button" {@include button-style(map-get($colors, "button-bg"), map-get($colors, "button"), map-get($colors, "button-bg"));
      } @else {
        @extend %centered-block;
      }
    }
  }
  
  #consejos img {
    width: map-get($widths, "img");
    height: map-get($heights, "img");
    object-fit: contain;
    margin-left: -70px;
  }
  
  #consejos div {
    box-sizing: border-box;
    width: map-get($widths, "div");
    float: left;
    margin: 10px;
    p {
      max-width: 50%;
    }  
  }

 
  
  #consejos::after {
    content: "";
    display: table;
    clear: both;
  }

 /* #sobre-nosotros {
    font-family: 'Open Sans', sans-serif;
    background-color: #DFEDD6;
    width: 100%;

}


#sobre-nosotros h9 {
    font-weight: 700;
    font-size: 48px;
    color: #3B4754;
    display: block;
    text-align: center;
}

#sobre-nosotros h10 {
    font-weight: 400;
    font-size: 20px;
    color: #798DA3;
    display: block;
    text-align: center;
}

#sobre-nosotros h11 {
    font-weight: 700;
    font-size: 24px;
    color: #3B4754;
    display: block;
}

#sobre-nosotros p {
    font-weight: 400;
    font-size: 16px;
    color: #3B4754;
}

#sobre-nosotros h12 {
    font-weight: 700;
    font-size: 24px;
    color: #3B4754;
}

#sobre-nosotros h13 {
    font-weight: 700;
    font-size: 24px;
    color: #3B4754;
}
#contacto {
    position: relative;
    width: 705px;
    height: 633px;
    background: #DFEDD6;
    border: 2px solid #829A73;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
}

#contacto h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    color: #3B4754;
}

#contacto p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #798DA3;
    text-align: center;
}

#contacto .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 295px;
    height: 83px;
}

#contacto button {
    width: 188px;
	height: 42px;
	padding: 0px 10px 0px 10px;
	background: #29323D;
	color: #FFFFFF;
	border-color: #29323D;
	border-width: 1px;
	border-style: solid;
	border-radius: 21px 21px 21px 21px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 12px;
	text-align: center;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

aside {
    float: right;
    width: 25%;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
*/
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-button {
  @include button-style(map-get($colors, accent), map-get($colors, white), map-get($colors, accent));
  height: 40px;
  padding: 0 15px;
}
