 /* Variables */
$colors: (
  primary: #3B4754,
  secondary: #798DA3,
  accent: #29323D,
  background: #DFEDD6,
  white: #ffffff,
  black: #000000,
  text: #3B4754,
  subtext: #798DA3,
  card: #ffffff,
  quote: #333,
  profession: #666,
  "h5": #3B4754,
  "h6": #798DA3,
  "h7": #3B4754,
  "h8": #798DA3,
  "p": #798DA3,
  "button": #ffffff,
  "button-bg": #000000,
  "section-title": #3B4754,
  "section-subtitle": #798DA3,
  "h13": #3B4754,
  "h14": #798DA3,
  "h15": #3B4754,
  "h16": #798DA3,
  "h17": #3B4754,
);

$font-stack: 'Open Sans', sans-serif;
$font-sizes: (
  "h2": 17px,
  "h5": 28px,
  "h6": 17px,
  "h7": 28px,
  "h8": 17px,
  "p": 13px,
  "eco": 16px,
  "cultura": 16px,
  "solo": 16px,
  "seguro": 16px,
  "presupuesto": 16px,
  "note": 16px,
  "section-title": 28px,
  "section-subtitle": 17px,
  "h13": 28px,
  "h14": 17px,
  "h15": 28px,
  "h16": 17px,
  "h17": 28px,
);

$line-heights: (
  "h5": 1.2,
  "h6": 1.5,
  "h7": 1.2,
  "h8": 1.5,
  "p": 1.5,
  "eco": 1.5,
  "cultura": 1.5,
  "solo": 1.5,
  "seguro": 1.5,
  "presupuesto": 1.5,
  "note": 1.5,
  "section-title": 1.2,
  "section-subtitle": 1.5,
  "h13": 1.2,
  "h14": 1.5,
  "h15": 1.2,
  "h16": 1.5,
  "h17": 1.2
);

$font-weights: (
  "h5": 700,
  "h6": 400,
  "h7": 700,
  "h8": 400,
  "p": 400,
  "button": 700,
  "eco": 400,
  "cultura": 400,
  "solo": 400,
  "seguro": 400,
  "presupuesto": 400,
  "note": 400,
  "section-title": 700,
  "section-subtitle": 400,
  "h13": 700,
  "h14": 400,
  "h15": 700,
  "h16": 400,
  "h17": 700,
);

$widths: (
  "h5": 510px,
  "h6": 470px,
  "h7": 510px,
  "h8": 470px,
  "img": 550px,
  "button": 100px,
  "div": calc(33.33% - 20px),
  "eco": 100%,
  "cultura": 100%,
  "solo": 100%,
  "seguro": 100%,
  "presupuesto": 100%,
  "note": 100%,
  "section-title": 510px,
  "section-subtitle": 470px,
  "h13": 510px,
  "h14": 470px,
  "h15": 510px,
  "h16": 470px,
  "h17": 300px,
);

$heights: (
  "h5": 31px,
  "h6": 51px,
  "h7": 31px,
  "h8": 51px,
  "p": 20px,
  "img": 150px,
  "button": 28px,
  "eco": auto,
  "cultura": auto,
  "solo": auto,
  "seguro": auto,
  "presupuesto": auto,
  "note": auto,
  "section-title": 31px,
  "section-subtitle": 51px,
  "h13": 31px,
  "h14": 51px,
  "h15": 31px,
  "h16": 51px,
  "h17": 31px,
);

/* Mixins */
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-style($bg-color, $text-color, $border-color, $margin: null) {
  padding: 0px 10px;
  background: $bg-color;
  color: $text-color;
  border-color: $border-color;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  @include font-style("button");
  @if $margin != null {
    margin: $margin;
  }
  &:hover {
    background-color: $text-color;
    color: $bg-color;
  }

}
  

@mixin font-style($tag) {
    font-family: "Open Sans";
    font-size: map-get($font-sizes, $tag);
    line-height: map-get($line-heights, $tag);
    font-weight: map-get($font-weights, $tag);
    color: map-get($colors, $tag);
    text-align: center;
    display: block;
    margin: auto;
  }
 @mixin text-style($size) {
    font-family: "Open Sans";
    text-align: center;
    display: block;
    margin: auto;
    font-size: map-get($font-sizes, $size);
  }
  
  @mixin card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }

  @mixin card-styles($type) {
    color: map-get($colors, $type);
    font-size: map-get($font-sizes, $type);
    line-height: map-get($line-heights, $type);
    font-weight: map-get($font-weights, $type);
    width: map-get($widths, $type);
    height: map-get($heights, $type);
  }
/* Extend */
%default-text {
  font-family: $font-stack;
  color: map-get($colors, primary);
}

%default-heading {
  @extend %default-text;
  font-weight: 500;
}
%centered-text {
    text-align: center;
    display: block;
    margin: auto;
  }

 %centered-block {
    text-align: center;
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  %flex-center {
    display: flex;
    align-items: center;
  }
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %default-text;
  margin: 0 auto;
  padding: 0;
  background-color: map-get($colors, white);
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%; 
  max-width: 1350px;
}

header {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  max-width: 1350px;
  padding: 0;
  text-align: center;
  @include flex-center(row, space-between, center);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-brand.logo {
    width: 50px;
    margin-right: 450px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  nav {
    ul.navbar-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      @include flex-center(row, center, center);

      li {
        margin-left: 15px;

        &:first-child {
          margin-left: 0;
        }

        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          @extend %default-text;
          font-weight: bold;
          border-radius: 4px;
          font-size: 16px;

          &:hover {
            background-color: #ddd;
            color: map-get($colors, black);
          }
        }
      }
    }
  }

  .header-button {
    @include button-style(map-get($colors, black), map-get($colors, white), map-get($colors, black));
    height: 40px;
    width: 165px;
    padding: 0 15px;
    font-size: 14px; 
  }
}

main {
  padding: 20px;
}

// Portada Styles
#portada {
    background-color: map-get($colors, background);
    background-size: cover;
    background-position: center;
    height: 430px;
    @include flex-center(row, space-between, center);
    color: map-get($colors, white);
    text-align: center;
    margin: 0; 
    padding: 0 20px; 
    
  
    .portada-header-text {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      align-items: flex-start;
    }

    .portada-title{
      margin-bottom: 20px;
    }
  
    #portada-img {
      margin-left: 120px;
      max-width: 100%;
      height: auto;
      margin-top: -1px;
    }
  }
  
  // Header Styles
  @each $heading, $styles in (
    h1: (35px, 1.2, left, map-get($colors, primary), 510px, 31px),
    h2: (17px, 1.5, left, map-get($colors, secondary), 470px, 51px),
    h3: (28px, 1.2, center, map-get($colors, primary), 510px, 31px),
    h4: (17px, 1.5, center, map-get($colors, secondary), 470px, 51px)
  ) {
    #{$heading} {
      font-size: nth($styles, 1);
      line-height: nth($styles, 2);
      text-align: nth($styles, 3);
      color: nth($styles, 4);
      width: nth($styles, 5);
      height: nth($styles, 6);
      font-family: $font-stack;
      font-weight: if($heading == h1 or $heading == h3, 700, 400);
      display: block;
      margin: auto;
    }
  }
  
  // Additional Portada Styles
  .portada-column {
    padding-left: 10px;
  }
  
  .portada-button {
    @include button-style(map-get($colors, black), map-get($colors, white), map-get($colors, black));
    width: 188px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0; 
    padding: 0;
    position: relative;
  }
  

  .portada-button::before {
    content: none; 
  }
  
  #destinos {
    margin-top: 50px;
  
    .row {
      display: flex;
      justify-content: center;
      align-items: flex-start; 
    }
  }

.image-container {
  @include flex-center(column, center, center);
  margin: 0 auto;
  

  img {
    margin-bottom: 10px;
  }

  .image-subcontainer {
    @include flex-center(column, center, center);
  }
}

#sydney, #mallorca, #new-york {
  background: transparent;
}

#sydney {
  width: 252px;
  height: 168px;
}

#mallorca {
  width: 252px;
  height: 168px;
}

#new-york {
  width: 252px;
  height: 168px;
}

.rectangle-12, .rectangle-11 {
  width: 96px;
  height: 3px;
  padding: 8px;
  background: #EDF0F4;
  border-radius: 3px;
}

.mt-2 {
  font-weight: bold;
}

.paragraph-2, .paragraph-3 {
  @extend %default-text;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  color: map-get($colors, secondary);
}

.paragraph-2 {
  width: 167px;
  height: 52px;
}

.paragraph-3 {
  width: 178px;
  height: 17px;
  font-weight: bold;
}

.mallorca, .nueva-york, .sydney {
  @extend %default-heading;
  width: 119px;
  height: 18px;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}

.buscador {
  max-width: 700px;
  margin: 30px auto;

  .search-input-box {
    width: 100%;
    background-color: #2f3649;
    border-radius: 5px;
    position: relative;
    color: azure;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);

    #input {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 5px;
      height: 55px;
      padding: 0 30px 0 20px;
      font-size: 18px;
    }

    .icon {
      position: absolute;
      top: 15px;
      right: 25px;
      font-size: 22px;
      cursor: pointer;
      color: #0d141f;
    }
  }
}

#experiencias {
  background-color: map-get($colors, background);
  width: 100%;
  padding: 50px 25px;

  @each $tag, $size in $font-sizes {
    #{$tag} {
      @include text-style($tag);
      color: if($tag == h5, map-get($colors, text), map-get($colors, subtext));
      font-weight: if($tag == h5, 700, 400);
      line-height: if($tag == h5, 1.2, 1.5);
      width: map-get($widths, $tag);
      height: map-get($heights, $tag); 
    }
    .row {
      margin-left: -20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .card {
    background-color: map-get($colors, card);
    border: none;
    @include card-shadow;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 200px; 
    width: 400px;
    overflow: hidden; 
    margin: 20px; 
    transition: transform 0.3s ease; 
    
      &:hover {
        transform: translateY(-5px); 
      }
  }

  .card-body {
    padding: 20px;
    overflow: auto;
  }

  .quote {
    margin-bottom: 70px;
    margin-top: 10px;
    color: map-get($colors, quote);
    font-weight: bold;
    font-size: 15px;
  }

  .rounded-circle {
    width: 50px;
    height: 50px;
  }

  .d-flex {
    @extend %flex-center;
  }

  .ml-3 {
    margin-left: 15px;
  }

  .name {
    margin: 0;
    color: map-get($colors, text);
    font-weight: bold;
  }
  
  .profession {
    margin: 0;
    color: map-get($colors, profession);
    font-weight: normal;
    font-size: 14px;
  }
  
}

/* Consejos Section */
#consejos {
  position: relative;
  
  h5 {
    @include font-style("h5");
  }

  h6 {
    @include font-style("h6");
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 35px; 
    justify-content: space-around; 
  }
  .card {
    @include card-shadow;
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box;
    margin-bottom: 20px;
    border: none;
    margin: 10px 0;
    max-width: 350px;
    background-color: transparent;
    .card-img-top {
      @extend %centered-block;
      width: 100%;
      height: auto;
      border-radius: 5px 5px 0 0;
    }

    .card-body {
      padding: 10px;
      text-align: center;
      p {
        @include font-style("p");
        width: map-get($widths, "p");
        height: map-get($heights, "p");
      }

      button {
        @include button-style(map-get($colors, "button-bg"), map-get($colors, "button"), map-get($colors, "button-bg"));
        width: map-get($widths, "button");
        height: map-get($heights, "button");
        margin-top: 50px;
      }
    }
 

    @each $type, $color in $colors {
      .#{"#{$type}"} {
        @include card-styles($type);
      }
    }  
  }
}

/* Sobre Nosotros */
#sobre-nosotros {
  @extend %centered-block;
  width: 100vw;
  padding: 0 40px 0 0; 
  margin-left: -20px;
  box-sizing: border-box;
  background: map-get($colors, background);
  position: relative;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: start;

  .content-container {
    width: calc(100% - 0px); 
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .section-title {
    @extend %default-heading;
    @include font-style("section-title");
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    order: 1;
  }

  .section-subtitle {
    @extend %default-text;
    @include font-style("section-subtitle");
    text-align: center;
    margin-bottom: 40px;
    order: 2;
  }
  
  .content {
    order: 3;
    h12 {
      @extend %default-heading;
      @include font-style("section-title");
      font-size: 15px;
      text-align: justify;
      margin-bottom: 20px;
    }

    p {
      @extend %default-text;
      @include font-style("p");
      text-align: justify;
      margin-bottom: 20px;
    }
  }
 }

/* Contacto */
#contacto {
  position: relative;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h13 {
    @include font-style("h13");
    margin-bottom: 10px;
  }

  h14 {
    @include font-style("h14");
    margin-bottom: 5px;
  }

  .h14 {
    @include font-style("h14");
    margin-bottom: 40px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 5px;

    .contact-form {
      order: 1;
      flex: 2.5;
      background: map-get($colors, background);
      border: 2px solid #829A73;
      @include card-shadow;
      border-radius: 8px;
      padding: 20px;
      min-height: 600px;
      
    }
    .contact-info {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1.5;
      background: map-get($colors, background);
      border: 2px solid #829A73;
      @include card-shadow;
      border-radius: 8px;
      padding: 20px;
      min-height: 600px;
      
      .info-item:last-child {
        margin-top: 40px; 
      }

      .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        i {
          font-size: 20px;
          color: map-get($colors, primary);
          margin-right: 15px;
        }

        span {
          @include font-style("p");
          color: map-get($colors, primary);
          font-size: 16px;
        }
      }

      .info-item i {
        margin-right: 8px; 
      }
    }

      h15 {
        @include font-style("h15");  
        width: map-get($widths, "h15");
        height: map-get($heights, "h15");
        justify-content: left;
        margin-left: -105px;
        margin-top: 30px;
        margin-bottom: 0px;
      }
      h16 {
        @include font-style("h16");  
        width: map-get($widths, "h16");
        height: map-get($heights, "h16");
        margin-left: -1px;
        white-space: nowrap;
        
      }

      h17 {
        position: relative;
        @include font-style("h17");
        width: map-get($widths, "h17");
        height: map-get($heights, "h17");
        margin-bottom: 70px;
        margin-top: 30px
      }

      h17::after {
        content: ""; 
        display: block;
        width: 130%; 
        height: 1px; 
        background-color: #798DA3;
        position: absolute;
        bottom: -40px; 
        left: 50%; 
        transform: translateX(-50%);
      }

      p {
        @include font-style("p");
        margin-bottom: 20px;
        margin-top: 0px;
      }

      form {

          label {
            font-family: $font-stack;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: map-get($colors, primary);
            margin-bottom: 5px;
          }

          input, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #829A73;
            border-radius: 4px;
            font-family: $font-stack;
            font-size: 16px;
            color: map-get($colors, primary);
          }

          textarea {
            height: 100px;
            resize: vertical;
          }
        }   
        
        .button-container {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-top: 40px;
          
            button {
              @include button-style(#000, #fff, #000, "0 0 0 auto");
              width: map-get($widths, "button");
              height: map-get($heights, "button");
              cursor: pointer;
              margin: 0;
            }
        }
      }
    }

    .form-row, .contact-row {
      display: flex;
      justify-content: start;
      gap: 10px;
    
      .input-field {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; 
      }
    }
    
    .contact-row {
      margin-top: 20px; 
    }
    
   #nombre, #apellido, #telefono, #email{
    width: 45%;
   } 
   .required {
    color: red;
  }

/*Newsletter */
.newsletter-container {
  position: relative;
  width: 100%;
  max-width: 1450px; 
  margin: auto; 
  padding: 50px 10px; 
  background: map-get($colors, background);
}

.rectangle {
  width: 100%;
  max-width: 1450px;
  background: map-get($colors, background);
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  
    button {
      @include button-style(#000, #fff, #000, "0 0 0 auto");
      width: 247px;
      height: 52px; 
      cursor: pointer;
    }
}

.newsletter-title {
  @include font-style("h5");
  width: map-get($widths, "h5");
  height: map-get($heights, "h5");
  margin: 0 auto; 
  margin-top: 20px;
}

.newsletter-subtitle {
  @include font-style("h6");
  width: map-get($widths, "h6");
  height: map-get($heights, "h6");
  margin: 20px auto 0; 
}

#nombre2, #email2{
  width: calc(50% - 5px);
 } 

#nombre2 {
  margin-left: auto;
}
.form-label1 {
  margin-left: 340px;
}

  
footer {
  position: relative; 
  margin-top: 40px;
  background-color: map-get($colors, white);
  color: #798DA3;
  text-align: center;
  padding: 20px;
  
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    width: 1200px; 
    border-top: 1px solid #798DA3;
    transform: translateX(-50%); 
  }
}


.footer-container {
  display: flex;
  align-items: center; 
  gap:  200px;
  margin-left: 250px;
}

.social-icons {
  font-size: 24px; 
  display: flex; 
  gap: 20px;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 40px); 
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%; 
  }
}
